@media screen and (max-width: 650px) {
    nav ul .openbtn {
        display: block;
    }

    nav ul li a {
        display: none;
    }

    nav {
        height: 90px;
    }
}

@media screen and (max-width: 750px) {
    nav ul .openbtn {
        display: block;
    }

    nav ul li a {
        display: none;
    }

    nav {
        height: 90px;
    }
}

@media screen and (min-width: 1200px) {
    nav ul .openbtn {
        display: none;
    }

    nav ul li a {
        display: inline-block;
    }
}